<div class="container-fluid px-4 py-5 dashboard-home">
  <div class="row align-items-center gx-0">
    <div class="col-lg-5 col-12 mb-4 mb-lg-0 text-center text-lg-start text-panel">
      <h1 class="welcome-title">Bienvenido a GeoUser</h1>
      <p class="lead">
        Gestiona y registra usuarios con ubicación geográfica precisa y verificación de correo electrónico.
      </p>
      <a class="btn register-btn mt-3 px-5" routerLink="/register-user">
        Comenzar Registro
      </a>
    </div>

    <div class="col-lg-7 col-12 d-none d-lg-block">
      <div class="image-wrapper">
        <img
          src="assets/images/undraw_map_cuix.svg"
          alt="onboarding"
          class="img-fluid onboarding-img"
        />
      </div>
    </div>
  </div>
</div>
